#================================================================================================================================================
# Type "git help gitignore" to get more information on this file.
# -----------------------------------------------------------------------------------------------------------------------------------------------
# >>>  Not excluded components are marked with (decide) for you to check/change; for other changes in general please contact DL_SWCM Team!  <<<
# -----------------------------------------------------------------------------------------------------------------------------------------------
#
## SWCM-Systems:
#    ClearCase (for import/migration)
#    Git
## IDEs, Buildtools:
#    .NET
#    Editors
#    Enterprise Architect
#    Eclipse and Plugins
#    Gradle
#    IntelliJ
#    Keil (tbd)
#    Maven
#    Node JS, NPM, YARN
#    NuGet Artifacts
#    Visual Studio
#    Visual Studio Code
## Build output binaries, Databases, Multimedia resources, Microsoft Artifacts, Packer rel. binaries, Tool/OS related stuff, Testtools, Webserver
#    Build output binaries
#    Databases
#    Multimedia resources
#    Microsoft Artifacts
#    Packer rel. binaries
#    Tool related stuff
#    Testtools
#    Webserver
#================================================================================================================================================

########################################################################################
#
# SWCM-Systems: ClearCase, Git
#
########################################################################################

#---------------------------------
# ClearCase (for import/migration)
#---------------------------------
*.contrib
*.contrib.*
*.keep
*.keep.*
lost+found
update.*.updt
view.dat
view.stg

#----------------------
# Git
#----------------------
*.orig

##############################################################################################################################################
#
# IDEs, Buildtools: .NET, Editors, Enterprise Architect, Eclipse and Plugins, Gradle, IntelliJ, Keil, Maven, NodeJS, NPM, NuGet, Visual Studio
#
##############################################################################################################################################

#----------------------
# .NET
#----------------------
userDefinedSettings.special.*
connectionStrings.special.*

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

#----------------------
# Editors
#----------------------
## However sometimes bak-files are needed (CM Robot)...
*.bak
*.[Pp][Dd][Ff]*
*.tws
*~
*.*~

#---------------------
# Enterprise Architect
#---------------------
*.ldb

#---------------------
# Eclipse and Plugins
#---------------------
## Locally stored configurations: https://stackoverflow.com/questions/337304/which-eclipse-files-belong-under-version-control?rq=1 (decide)
#*.launch
*~.nib
*.pydevproject
*.swp
*.tmp
bin/
tmp/
.buildpath
.factorypath
.loadpath
.springBeans

## Omitting the following files and re-defining them could be cumbersome... (decide)
.settings/
.classpath
.metadata
local.properties
.dep/

## CDT-specific (better ommit due to https://bugs.eclipse.org/bugs/show_bug.cgi?id=226457)
#*.cproject
*.project

# External tool builders
.externalToolBuilders/

## SBTeclipse plugin
.target

## TeXlipse plugin
.texlipse

#----------------------
# Gradle
#----------------------
.gradle
buildSrc/.gradle
/.gradle*/

## All build output is going to a 'build' directory
/build/

## This one is used by 'gradlew --gui'
gradle-app.setting
nexus_config*.gradle

#----------------------------------------------------------------------
# IntelliJ
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
#----------------------------------------------------------------------
## File-based project format
*.ipr
*.iml
*.iws
out/

## Directory-based project format
.idea/

## If you remove the above .idea/ rule, at least ignore user-specific stuff (decide):
# .idea/workspace.xml
# .idea/tasks.xml
## ...and these sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml

## Generated by mpeltonen/sbt-idea plugin
.idea_modules/

## Generated by JIRA plugin
atlassian-ide-plugin.xml

## Generated by Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml

#----------------------
# Keil (tbd)
#----------------------

#----------------------
# Maven
#----------------------
.m2
buildNumber.properties
dependency-reduced-pom.xml
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
target/

#----------------------
# Node JS, NPM, YARN
#----------------------
## Node.js
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## node-waf configuration (decide)
#.lock-wscript

## https://devcenter.heroku.com/articles/node-best-practices#only-git-the-important-bits
node_modules

# npm
npm-debug.log
package-lock.json

# yarn
yarn.lock

# yalc
yalc-lock
.yalc

# ng-cli
dist

#----------------------
# NuGet Artifacts
#----------------------
*.nupkg
packages/

## NuGet v3's project.json files produce more ignoreable files
*.nuget.props
*.nuget.targets

#----------------------
# Visual Studio
#----------------------
## See also https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
mt.dep
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*_i.c
*_p.c
*_h.h
*.awk
*.bsc
.builds
*.[Cc]ache
*.chm
*.clw
*.exp
*.idb
*.ilk
*.ipch
*.ipdb
*.mdp
*.meta
*.opt
*.pdb
*.pgc
*.pgd
*.pidb
*.res
*.rsp
*.sbr
*.scc
*.suo
*.svclog
*.tmp_proj
*_wpftmp.csproj
*.tlb
*.tli
*.tlh
*.tlog
*.user

# Visual C++ cache files
ipch/
*.aps
*.cachefile
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# Visual Studio Trace Files
*.e2e

## Visual Studio 2015 cache/options directory
.vs/

## Visual Studio profiler
*.psess
*.vsp*
*.sap

## Business Intelligence Modelling projects
*.rdl.data
*.bim.layout
*.bim_*.settings

#----------------------
# Visual Studio Code
#----------------------
.vscode/

#########################################################################################################################################
#
# Build binaries, Databases, Multimedia resources, Microsoft Artifacts, Packer rel. binaries, Tool/OS related stuff, Testtools, Webserver
#
#########################################################################################################################################

#----------------------
# Build binaries
#----------------------
*.com
*.class
*.dll
*.ear
*.exe
*.iobj
*.jar
!gradle-wrapper.jar
*.lib
*.manifest
*.obj
*.so
*.war

#-----------------------
# Databases
#-----------------------
*.log
## Depends on use case: For productive data these files are not to be located in Bitbucket sources (decide)
#*.sqlite
## MongoDB
mongodb.lock

## MS SQL Server
*.mdf
*.ldf

#-----------------------
# Multimedia resources
#-----------------------
*.bmp
*.mp*
*.snag
*.tiff

## For resources needed in a specific repo for UI development decide
#*.gif
#*.ico
#*.jpg
#*.jpeg
#*.png
#*.psd
#*.svg

#----------------------
# Microsoft Artifacts
#----------------------
*.[Dd][Oo][Cc]*
*.[Dd][Oo][Tt]*
*.lnk
*.mid
*.[Mm][Pp][Pp]*
*.[Pp][Pp][Tt]*
*.[Rr][Tt][Ff]
*.[Xx][Ll][Ss]*
*.[Vv][Ss][Dd]*

#----------------------
# Packer rel. binaries
#----------------------
*.7z
*.dmg
*.gz
*.iso
*.pkzip
*.pgp
*.rar
*.tar*
*.zip
*.zip.sha1

#----------------------
# Tool/OS related stuff
#----------------------
*.cap
*.der
desktop.ini
.DS_Store
*.idx
##  www.jetform.com (defunct)
*.ifd
*.[Ii]jc
*.[Jj]ou
#*.prj
*.pyc
*.pyo
*.stackdump
thumbs.db
## Downloaded tools (decide)
#tools/

#-------------------------------------------------------------
# Testtools: MSTest, NUNIT, ReSharper, Checkstyle, DotCover...
#-------------------------------------------------------------
## MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NUNIT
*.VisualState.xml
TestResult.xml
nunit-*.xml

## ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Checkstyle
.checkstyle/

## DotCover is a Code Coverage Tool
*.dotCover

#----------------------
# Webserver
#----------------------
## Temporary data
pids
*.pid
*.seed
wwwroot/
